input {
  border: 1px black solid;
  border-radius: 10px;
  height: 30px;
  width: 132px;
  font-size: 15px;
}

button {
  border: 1px black solid;
}

.card {
  width: 35%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
