.background_color {
  height: 100vh;
  background-color: #F2F5FE;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px black solid;
  border-radius: 5px;
  height: 30px;
  width: 132px;
  font-size: 15px;
  width: 10vw;
  height: 3vh;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding_top {
  padding-top: 15px;
}

.card {
  width: 20vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: grey 1.3px solid;
  border-right: grey 1.3px solid;
  border-radius: 5px;
}

.button {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 10vw;
  height: 3vh;
}

.button:hover {
  width: 11vw;
  height: 5vh;
}
